@tailwind base;
@tailwind components;
@tailwind utilities;

.popup {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the popup */
  left: 50%;
  margin-left: -60px; /* Use half of the width to center the popup */
  opacity: 0;
  transition: opacity 0.3s;
}

.info:hover .popup {
  visibility: visible;
  opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
